/**
 * index.scss
 * - Add any styles you want here!
 */

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/

/*       Fade Bs-carousel       */

/********************************/

.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators>li {
  margin: 0 3px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators>li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
/********************************/

/*          Hero Headers        */

/********************************/

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #f8ffce;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
/********************************/

/*            Overlay           */

/********************************/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}
/********************************/

/*          Custom Buttons      */

/********************************/

.btn.btn-lg {
  padding: 10px 40px;
}
.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}
/********************************/

/*       Slides backgrounds     */

/********************************/

.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); */
  background-image: url(../image/2.jpg);
}
.fade-carousel .slides .slide-2 {
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);*/
  background-image: url(../image/1.jpg);
}
.fade-carousel .slides .slide-3 {
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);*/
  background-image: url(https://info.wonderlabs.io/hubfs/NewBlogWonderlabs/slide_3-md-min.jpg);
}
/* MENU HEADER */

/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;
}
.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
    margin-bottom: -90px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {}
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
/********************************/

/*          Media Queries       */

/********************************/

@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em;
  }
}
/* re-design bootstrap.css */

body, h1, h2, h3, h4, h5 {
  font-family: 'Century Gothic', sans-serif;
}
.navbar {
  padding: 0 15em;
}
.navbar-nav {
  float: right !important;
}
.navbar-brand {
  padding: 6px 15px;
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.6) border-radius:
}
.collapse.in {
  /*background-color: black !important;*/
  /*opacity: .6;*/
  /*border-radius: 10px;*/
}
.navbar-inverse .navbar-toggle {
  border-color: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-wrapper {
  z-index: 16;
}
/* IMAGES SLIDE CAROUSEL */

.overlay {
  z-index: 1;
  top: 0;
  background-color: #a9ebc3;
  opacity: .2;
}
/* TEXT CAROUSEL */

.hero {
  text-align: left;
  text-transform: none;
  width: 50rem;
  left: 31.5%;
}
@media (max-width: 1024px) {
  .hero {
    left: 37%;
  }
}
@media (max-width: 768px) {
  .hero {
    left: 44.5%;
  }
}
@media (max-width: 425px) {
  .hero {
    left: 50%%;
    text-align: center;
  }
}
.h2-hero {
  font-weight: bold;
}
.p-hero {
  font-size: 15px;
  font-weight: normal;
}
/* INDICATORS CAROUSEL */

.carousel-indicators {
  left: 15%;
}
.fade-carousel .carousel-indicators>li {
  background-color: #d0d0d0;
  border-color: transparent;
}
/* BUTTON */

.btn-sort {
  margin: 50px 0;
}
.btn-apply {
  background: #1abc9c;
  border-radius: 30px;
  color: white !important;
  border: 1.5px solid white;
}
.btn-hire {
  background: #fce181;
  border-radius: 30px;
  color: white !important;
  border: 1.5px solid #22dd74;
  margin-left: 15px !important;
}
/* NEXT & PREV BUTTON */

.pagination-lg>li>a {
  margin: 0 2rem;
  padding: 13px 30px;
  font-size: 15px;
}
.fa-angle-left, .fa-angle-right {
  color: #a5a4a4;
}
.pagination>li>a {
  color: #000;
}
.pagination>li>a:hover, .pagination>li>a:active {
  color: #1abc9c;
}
.pagination-lg>li:first-child>a, .pagination-lg>li:last-child>a {
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  border-radius: 40px;
}
.pagination {
  margin: 8rem 0;
}
/* NAVBAR */

.navbar-inverse .navbar-nav>li>a {
  color: #f8ffce;
  font-family: century gothic;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  /*color: #000;*/
  background-color: transparent;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a {
  color: #56d456;
  background-color: transparent;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1024px) {
  .navbar {
    padding: 2rem 10rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 425px) {
  .navbar {
    padding: 2rem 1rem;
  }
  .navbar-nav {
    float: left !important;
  }
  .btn-hire {
    margin-left: 0 !important;
    margin-top: 13px !important;
  }
}
/* KONTEN BLOG */

.box-md {
  margin: 2rem 0;
  background: #a6cea6;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-md {
  padding-bottom: 10rem;
}
.img-author {
  position: absolute;
  top: 61.5%;
  left: 80%;
}
.img-author-s {
  border-radius: 100%;
  width: 50px;
}
.blog-containers {
  margin-top: 8rem;
}
/*.row-containers{
  margin-top: 5rem;
}*/

.text-blog {
  padding: 20px;
  text-align: left;
}
/* COMPONENT */

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/*  Subscribe Box  */

#Subscribe {
  margin-top: 1rem;
  float: right;
  padding: 1.5rem 0;
  border-radius: 30px;
  width: 17rem;
  border: transparent;
  background: #22dd74;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Subscribe:hover {
  border: 1px solid #22dd74;
  background: transparent;
  color: #22dd74;
  box-shadow: none;
}
#field-Subscribe {
  font-size: 25px;
  font-weight: normal;
  padding: 2rem 3rem;
  width: 70%;
  background: transparent;
  border: transparent;
  border-left: 2px solid #ddd;
}
/* FOOTER */

.container1 {
  padding: 5rem 9rem;
  padding-bottom: 10rem;
  background: #364761;
  text-align: left;
}
.container2 {
  padding: 2rem 12rem;
  border-top: 1px solid #888484;
  background: #364761;
  text-align: left;
}
.img-footer {
  width: 220px;
  height: 30px;
  margin-top: 6px;
  position: relative;
}
.txt-footer {
  width: 512px;
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15.3px;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: right;
  margin-right: 25rem;
  color: #ffffff;
  position: relative;
}
.info-wo {
  padding-top: 2rem 5rem;
}
.col-xs-2 {
  color: #fff;
}
.col-half-offset {
  margin-left: 3.3%;
}
@media (max-width:1025px) {
  .container1 {
    padding: 5rem 0;
  }
  .info-wo {
    padding: 2rem 0;
  }
  .col-half-offset {
    margin-left: 3.3%;
  }
}
@media (max-width:1281px) {
  .info-wo {
    padding: 2rem 5rem;
  }
}
@media (max-width:480px) {
  .col-xs-2 {
    width: 100%;
    padding-top: 2.5rem;
  }
  .col-half-offset {
    width: 100%;
  }
}
@media (max-width:600px) {
  .col-xs-2 {
    width: 100%;
    padding-top: 2.5rem;
  }
  .col-half-offset {
    width: 100%;
  }
}
@media (max-width:767px) {
  .modal-dialog {
    width: auto !important;
  }
  .nav.navbar-nav {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .collapse.in {
    background-color: transparent;
  }
}